{% extends "apartment/baseApartments.html.twig" %}

{% block Container %}

	<div>
		<h2 class="my-5 text-center">
			Listado de Viviendas
		</h2>
	</div>

	<div class="mx-auto mb-5 d-flex justify-content-around flex-wrap">
		{% for apartment in apartments %}
			<div class="card mb-5 " style="width: 18rem;">
				<img src={{apartment.image}} class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">{{apartment.name}}</h5>
					<p class="card-text">{{apartment.address}}</p>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">{{apartment.description}}</li>
					<li class="list-group-item">{{apartment.price}}</li>
				</ul>
				<div class="card-body">
					<a href="{{path("showApartment",{"id":apartment.id})}}" class="btn btn-primary">Mas Info</a>
					<a href="#" class="btn btn-primary">Editar</a>
				</div>
			</div>

		{% endfor %}
	</div>
{% endblock %}
